<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grusha.aawify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Awarify"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".papernameActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"></meta-data>
        </activity>
        <activity android:name=".category1" />
        <activity android:name=".TimesBussrss" />
        <activity android:name=".TimesWorldrss" />
        <activity android:name=".TimesEntertainmentrss" />
        <activity android:name=".TimesSportsrss" />
        <activity android:name=".TimesTechrss" />
        <activity android:name=".TimesEducationrss" />
        <activity android:name=".category2" />
        <activity android:name=".HindustanIndiarss" />
        <activity android:name=".HindustanWorldrss" />
        <activity android:name=".HindustanSportsrss" />
        <activity android:name=".HindustanEntertainmentrss" />
        <activity android:name=".HindustanHealthrss" />
        <activity android:name=".HindustanEducationrss" />
        <activity android:name=".HindustanBusinessrss" />
        <activity android:name=".category3" />
        <activity android:name=".indianationrss" />
        <activity android:name=".indiaworldrss" />
        <activity android:name=".indiahealth" />
        <activity android:name=".indiasports" />
        <activity android:name=".Settings"></activity>
    </application>

</manifest>